$primary-color: #000000;

$break-xs: 480px;
$break-sm: 768px;
$break-md: 1024px;
$break-lg: 1200px;
$break-xl: 1440px;
$break-xxl: 1600px;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 40px;
$font-size-xxxl: 56px;